<% include partials/header%>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/new3.jpg');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<h2 class="mb-3 bread">About Us</h2>
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
							class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 col-lg-5 d-flex">
				<div class="img d-flex align-self-stretch align-items-center"
					style="background-image: url('images/new4.jpg'); height: 600px; margin: 100px 0px 140px 0px; ">
				</div>
			</div>
			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
				<div class="py-md-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<span class="subheading">A Few Words About Us</span>
							<h2 class="mb-4">We provide a convenient platform for Recyling and Reuse of plastic

								<!--  <span class="number" data-number="100">0</span> -->
								<!-- Years -->

							</h2>
							<p>
								India generates close to 26,000 tonnes of plastic a day, according to a CPCB estimate
								from 2012. Worse, a little over 10,000 tonnes a day of plastic waste remains
								uncollected. Uncollected plastic waste eventually ends up in the natural environment, in
								our seas and oceans or piling up on our land. People usually throw it here and there or
								toss it into the trash can thinking it will go into a recycling bin. As of 2015, around
								9% of all the plastic waste ever generated had been recycled, while 12% was incinerated
								and 79% was sitting in landfill or the natural environment, according to research
								published in Science Advances. 9 out of 10 people said that they would recycle their
								plastic waste if there was a easier way.
							</p>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-mission">
	<div class="container">
		<div class="row">
			<div class="col-md-6 py-4 py-md-5 ftco-animate">
				<div class="py-md-4 pb-md-5">
					<h3 style="width:1.3en">Mission: To Change the Life of Those, Who cannot speak!</h3>
					<p>Thousands of tons of plastic ends up in the water bodies or at dumping sites
						and enters the food chain which then is consumed by the living creates which likely
						die due to choking. We Help to reduce this plastic effectively by Giving out Points to
						every person who would return plastic bootles which can be reused or recycled by the company.
						These reward points can be redemeed for vouchers and other exciting gifts or discounts.
					</p>
				</div>
			</div>
			<div class="col-md-4 py-6 py-md-1 img" style="background-image: url('images/new2.jpg');
	  			 margin-bottom: 10px; margin: 100px 0px 100px 40px; padding-bottom: 20px;"></div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 col-lg-5 d-flex">
				<div class="img d-flex align-self-stretch align-items-center"
					style="background-image: url('images/new6.jpg'); height: 600px; margin: 100px 0px 140px 0px; ">
				</div>
			</div>
			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
				<div class="py-md-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h2 class="mb-4">How does user earn free coins?</h2>
							<p>
								If you buy a plastic beverage bottle which can be reused or recycled, use it or consume
								it,
								then head to the official website of the Aspiration, and register yourself as a user. If
								you
								have already been registered, then log-in as a user. On your dashboard click on the code
								icon
								and then enter the 6 digit code on the back of the bottle. Click on submit button. After
								the
								distributer and the company has verified your bottle details, the money will be
								transferred to
								your account automatically.
							</p>
							<h2 class="mb-4">How does Distributor earn coins?</h2>
							<p>
								When the distributor recieves any plastic bottle from the user, he/she could log in
								to this website as a distributor or if they are new here, tehy could register themselves
								distributor. Then on their dashboard, they need to click on the code recieved button and
								fill in the codes they recieve. When the code is verified, they get the free coins in
								their
								account.
								<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<% include partials/footer%>