<% include partials/header%>    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/new3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">About Us</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image: url('images/new4.jpg'); height: 600px; margin: 100px 0px 140px 0px; ">  
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate">
			          	<span class="subheading">A Few Words About Us</span>
			            <h2 class="mb-4">We provide a convenient platform for Recyling and Reuse of plastic 

                    <!--  <span class="number" data-number="100">0</span> --> <!-- Years -->
                    
                  </h2>
			            <p>
                      India generates close to 26,000 tonnes of plastic a day, according to a CPCB estimate from 2012. Worse, a little over 10,000 tonnes a day of plastic waste remains uncollected. Uncollected plastic waste eventually ends up in the natural environment, in our seas and oceans or piling up on our land. People usually throw it here and there or toss it into the trash can thinking it will go into a recycling bin. As of 2015, around 9% of all the plastic waste ever generated had been recycled, while 12% was incinerated and 79% was sitting in landfill or the natural environment, according to research published in Science Advances. 9 out of 10 people said that they would recycle their plastic waste if there was a easier way.
                  </p>
                 

			          </div>
			        </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-mission">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 py-4 py-md-5 ftco-animate">
    				<div class="py-md-4 pb-md-5">
	    				<h3 style="width:1.3en" >Mission: To Change the Life of Those, Who cannot speak!</h3>
	    				<p>thousands of tons of plastic ends up in the water bodies or at dumping sites and enters the food chain which then is consumed by the living creates which likely die due to choking.
              </p>
    				</div>
    			</div>

      <div class="col-md-4 py-6 py-md-1 img" style="background-image: url('images/new2.jpg'); margin-bottom: 10px; margin: 100px 0px 100px 40px; padding-bottom: 20px;" ></div>
        </div>

    			
    	</div>

    
    </section>
<% include partials/footer%>
