<% include partials/header%>
  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/waste.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
            <h2 class="mb-3 bread">Causes</h2>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                  class="ion-ios-arrow-forward"></i></a></span> <span>Causes <i
                class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

  <section>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center" style="margin-left:0%; margin-top: 50px;">
            <h2 class="mb-3 bread" style="color: black;">Why do we need to save Earth from Plastic?</h2>
          </div>
        </div>
      </div>
    </section>

  <section class="ftco-section ftco-causes">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/decompose.jpeg);"></div>
            <h2>Decomposable prodcut</h2>
            <p>The main reason why plastic is harmful is becasue it's inability to decompose in a short period.
              Plastic products take up to 1000 years to decompose.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/marine.jpg);"></div>
            <h2>Harmful for marine creature</h2>
            <p>Another reason is that plastic doesn't sink in ocean and is harmful for marine creatures.
              Marine creature consume these plastic products and then die due to asphyxation.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/land.jpg);"></div>
            <h2>Harmful for land creatures</h2>
            <p>Chlorinated plastic can release harmful chemicals into the surrounding soil, which can then seep into
              groundwater or other surrounding water sources
              and also the ecosystem of the world. This can cause serious harm to the species that drink the water.</p>
          </div>
        </div>

        <section>
          <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
              <div class="col-md-9 ftco-animate pb-5 text-center" style="margin-left:33%;">
                <h2 class="mb-3 bread" style="color: black;">How can we get rid of plastic?</h2>
              </div>
            </div>
          </div>
        </section>

        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/recycle.jpeg);"></div>
            <h2>Recycle the plastic</h2>
            <p>There are certain plastic product which can be recycled and made into new product. Products such as tubs and buckets can be recycled and made into new products.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/reusing.jpeg);"></div>
            <h2>Plastic can be reused</h2>
            <p>Plastic can be reused many a times during its lifetime. Products such as bottles can be reused and are even reused in certain parts of the world.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/switch.jpg);"></div>
            <h2>Avoid non-reusable or non-recyclable plstic products</h2>
            <p>Apart from reusable or recyceld plastic, there are also certain plastic procducts whic cannot be recyled or reduese. Hence you should avoid using thee products.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


    <% include partials/footer%>
