<% include partials/header%>
  <div class="hero-wrap" style="background-image: url('images/disturb.jpeg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div class="col-md-12 text ftco-animate mt-5 text-center" data-scrollax=" properties: { translateY: '70%' }">
                   <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Give up Plastic bottles To
            Make A Better World</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
    <div class="container-fluid px-md-0">
      <div class="row no-gutters">
        <div class="col-md-6 img-volunteer">
          <div class="row no-gutters justify-content-end">
            <div class="col-lg-7">
              <div class="text py-5 pl-md-4 pr-md-3">
                <h2 class="mb-4">Works to make a clean enviornment</h2>
                <p>We help to get rid of plastic bottles which can be reused to get a plastic free world and get offers/vouchers.</p>
                <p><a href="/login" class="btn btn-primary py-3 px-4">User Portal</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center bg-primary">
          <div class="about-text px-3 py-5 pl-md-5 pr-md-5">
            <h2>Supply the company with plastic bottles to reduce it's expenses</h2>
            <p>Supply the company with plastic bottle which can be reused or recycled to save the company's expenser</p>
            <p><a href="/scanner" class="btn btn-black py-3 px-4">Distributer Portal</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 class="mb-4">About Us</h2>
        </div>
      </div>
      <div class="row justify-content-center ftco-animate">
        <div class="col-md-8">
          <div class="featured-causes">
            <div class="text mt-4 d-md-flex">
              <div class="one d-flex">
                <div class="mr-4">
                  <p>WE PROVIDE A CONVENIENT PLATFORM FOR RECYLING AND REUSE OF PLASTIC
                    India generates close to 26,000 tonnes of plastic a day, according to a CPCB estimate from 2012. 
                    Worse, a little over 10,000 tonnes a day of plastic waste remains uncollected.
                    Uncollected plastic waste eventually ends up in the natural environment,
                    in our seas and oceans or piling up on our land. People usually throw it here and there or toss it into
                    the trash can thinking it will go into a recycling bin.
                    As of 2015, around 9% of all the plastic waste ever generated had been recycled,
                    while 12% was incinerated and 79% was sitting in landfill or the natural environment,
                    according to research published in Science Advances.
                    9 out of 10 people said that they would recycle their plastic waste if there was a easier way.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-causes">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Priorities</h2>
          <p>Make a green and plastic free Earth by reusing or recycling plastic</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/recycle.jpeg);"></div>
            <h2>Recycle Plastic</h2>
            <p>Recycling the plastic bottle after their use.</p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="causes causes-2 text-center ftco-animate">
            <div class="img" style="background-image: url(images/reusing.jpeg);"></div>
            <h2>Reuse the Plastic Bottle</h2>
            <p>Reuse the plastic bottles which can be reused again after their use.</p>

          </div>
        </div>

      </div>
    </div>
    </div>

    </div>
  </section>

  
<% include partials/footer%>   

   
