<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/scanner.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Div to show the scanner -->
        <div class="header">
            <div>
                <p style="margin-left:10px;"><%= message %></p>
            </div>
            <div style="margin-left:90%;">
            <p><i class="fa fa-bitcoin" style="font-size:18px;color:yellow;"></i> = <%= amount %></p>
            </div>
        </div>
    <div class="code">
        <form method="post">
            <input type="hidden" name="user" value="user" >
            <input type="text" name="code" placeholder="Enter Your Code" style="height:40px; width:200px; border-radius:10px;">
            <button type="submit" style="height:45px; width:100px; border-radius:10px;" name="submit" value="submit">Submit</button> 
        </form>
    </div>
    <section style="display:flex; margin-top:50px;">
        <div class="section">
            <h1 style="text-align:center;">Starbucks</h1>
            <p style="text-align:center;">Get 30% off on Drinks above Rs.350</p>
            <form>
                <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
            </form>
        </div>
        <div class="section">
                <h1 style="text-align:center;">Zomato</h1>
                <p style="text-align:center;">Get 60% off on Food or Drinks worth Rs.450 or above.</p>
                <form>
                    <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                </form>
        </div>
        <div class="section">
                <h1 style="text-align:center;">Channel</h1>
                <p style="text-align:center;">Get 90% Channel Vouchers on purchase upto Rs5000</p>
                <form>
                    <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                </form>
        </div>
        
    </section>
    <section style="display:flex; margin-top:50px;">
            <div class="section">
                <h1 style="text-align:center;">Rom's Pizza</h1>
                <p style="text-align:center;">Get 70% off on pizza above Rs.350 and upto Rs.900</p>
                <form>
                    <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                </form>
            </div>
            <div class="section">
                    <h1 style="text-align:center;">MTNL</h1>
                    <p style="text-align:center;">Get 100% cashback on MTNL bill on order upto Rs500.</p>
                    <form>
                        <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                    </form>
            </div>
            <div class="section">
                    <h1 style="text-align:center;">Amazon Cashback offer</h1>
                    <p style="text-align:center;">Get Rs500 amazon cashback offer on shopping before Year's end.</p>
                    <form>
                        <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                    </form>
            </div>
            
        </section>
        <section style="display:flex; margin-top:50px;">
                <div class="section">
                    <h1 style="text-align:center;">Burger King</h1>
                    <p style="text-align:center;">Buy one burger and another burger and coke free.</p>
                    <form>
                        <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                    </form>
                </div>
                <div class="section">
                        <h1 style="text-align:center;">Zomato</h1>
                        <p style="text-align:center;">Get Zomato Gold membership @99 Rs.</p>
                        <form>
                            <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                        </form>
                </div>
                <div class="section">
                        <h1 style="text-align:center;">Titan</h1>
                        <p style="text-align:center;">Get upto 50% of discount on watches in the price range of Rs 3000-Rs5000(Both inclusive).</p>
                        <form>
                            <input type="button" id="btn" value="Redeem Now" style="height:40px; width:200px; background-color:white; border-radius:20px; margin-left:70px;">
                        </form>
                </div>
                
            </section>

</body>

</html>